$mainFontFamily: 'Roboto'

$primaryColor: #fefbea
$secondaryColor:#78350F
$whiteColor: #ffffff
$bgColor1:#FBBF24
$bgColor2: #FDE68A
$bgColor3: #E2E8F0
$color1:#0F172A
$color2: #475569
$colorBlack: #000000


$fontWeightLight: 300
$fontWeightRegular: 400
$fontWeightMedium: 500
$fontWeightSemiBold: 600
$fontWeightBold: 700
$fontWeightBold2: 800
$fontWeightBlack: 900

$fontSizeSmall: 14px
$fontSizeMedium: 18px
$fontSizeLarge: 22px
